$fondo1: #F8FAE5;
$texto-nombre:#BFCFE7;

$ancho-calc:600px;
$alto-calc:550px;
$alto-pantalla:50px;
//margin de la calculadora
$separamiento: 20px;
$color-numeros: #000000;
$tamNumeros: 30px;
$radio-esquina:10px;

body
{
    // border: 3px solid rgb(233, 182, 119);
    border-radius: $radio-esquina;
    width: $ancho-calc;
    height: $alto-calc;
    background-color:#191919;
    margin-top:$separamiento;
    margin-left:$separamiento;   
}

.tema .tema-titulo
{
    border-radius: $radio-esquina;
    color: $texto-nombre;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    position: absolute;
    top:35px;
    left: 35px;
}

.tema .btn-dark
{
    position: absolute;
    top: 30px;
    left: 550px;
}

.tema .btn-light
{
    position: absolute;
    top: 30px;
    left: 480px;
}

.tema
{
    width: $ancho-calc;
    height: 60px;   
}


.pantalla
{
    width: $ancho-calc;
    height: 100px;
    position: absolute;
    right: 746px;
}


.pantalla_inferior
{

    width: $ancho-calc;
    height: $alto-pantalla;
    color: $color-numeros;
    background-color: #BFCFE7;
    caret-color: blueviolet;
    font-size: $tamNumeros;
    display: flex;
    justify-content: right;
    position: absolute;
    right: -1px;
    top: -2px;
}

.dropdown
{
    position: absolute;
    top: 150px;
}

.dropdown #dropdownMenu2
{
    background-color: #D2E3C8;
    color: #191919;
}