$fondo1: #F8FAE5;
$texto-nombre:#BFCFE7;
$color-tecla-no-hover:#DE2229;
//Bordes de los botones rojos
$borderRedButtonsTopLeft:3px solid salmon;
$borderRedButtonsBottomRight:3px solid rgb(124, 15, 3);
//Bordes de los botones grises
$borderGrayButtonsTopLeft:3px solid rgb(172, 137, 133);
$borderGrayButtonsBottomRight:3px solid rgb(0, 0, 0);

$ancho-calc:600px;
$alto-calc:550px;
$alto-pantalla:50px;
//margin de la calculadora
$separamiento: 20px;
$color-numeros: #000000;
$fondoCalculadora: #607274;
$fondo2:#191919;
$tamNumeros: 30px;
$radio-esquina:10px;

body
{
    background-color: $fondo2;
}

#barraDeNavegación
{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: $fondo2;
}

#botonIngresar
{
    margin: 5px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.bodyCalculator
{
    //border: 3px solid rgb(233, 182, 119);
    border-radius: $radio-esquina;
    border-bottom: 5px solid #3C4546;
    width: $ancho-calc;
    height: $alto-calc;
    background-color:$fondoCalculadora;
    margin-top:$separamiento;
    margin-left:$separamiento;  
}

.tema .tema-titulo
{
    border-radius: $radio-esquina;
    color: $texto-nombre;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    position: absolute;
    top:35px;
    left: 35px;
}

.tema .btn-dark
{
    position: absolute;
    top: 30px;
    left: 550px;
}

.tema .btn-light
{
    position: absolute;
    top: 30px;
    left: 480px;
}


.tema
{
    width: $ancho-calc;
    height: 60px;
}


.pantalla
{
    width: $ancho-calc;
    height: 100px;
    position: absolute;
    right: 746px;
}


.pantalla_inferior
{

    width: $ancho-calc;
    height: $alto-pantalla;
    color: $color-numeros;
    background-color: #BFCFE7;
    caret-color: blueviolet;
    font-size: $tamNumeros;
    display: flex;
    justify-content: right;
    position: absolute;
    right: -1px;
    top: -2px;
}

.dropdown
{
    position: absolute;
    top: 150px;
}

.dropdown #dropdownMenu2
{
    background-color: #D2E3C8;
    color: #191919;
}

#botonBorrar
{
    position: absolute;
    top: 150px;
    left: 413px;
}

#botonResultado
{
    position: absolute;
    left: 513px;
    top: 150px;
}


//Estilo del panel que servirá de teclado
#miPanel {
    width: 320px;
    height: 320px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #0054DC; /* Puedes cambiar el color a tu preferencia */
    position: absolute;
    top:265px;
    left: 320px;
  }

  #teclado
  {
    display: grid;
      grid-template-columns: repeat(4, 1fr); /* Define tres columnas con tamaños iguales */
      grid-template-rows: repeat(3, 50px); /* Define tres filas con alturas de 50px */
      grid-gap: 10px; /* Espaciado entre las celdas */
  }

  .celda 
  {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border-top: $borderGrayButtonsTopLeft;
    border-left: $borderGrayButtonsTopLeft;
    border-right: $borderGrayButtonsBottomRight;
    border-bottom: $borderGrayButtonsBottomRight;
    margin: 3px;
    font-size: larger;
    font-weight: bolder;
  }

  .celda:hover
  {
    background-color: $fondoCalculadora;
    color: white;
  }

 #boton_DEL, #boton_RESET
  {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border-top: $borderRedButtonsTopLeft;
    border-left: $borderRedButtonsTopLeft;
    border-right: $borderRedButtonsBottomRight;
    border-bottom: $borderRedButtonsBottomRight;
    margin: 3px;
    font-size: larger;
    font-weight: bolder;
    background-color: $color-tecla-no-hover;
  }

  #boton_DEL:hover, #boton_RESET:hover
  { 
    color: white;
  }
//Da el efecto de que un botón sea presionado
  button:active 
{
    transform: scale(0.95);
}
